html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none
}

/*input[type=button] {font-size: 24pt;}*/

.statHeader {
  font-family: fantasy; font-size: 22pt;
}

/* Div shared attributes */

.Speed, .Might, .Sanity, .Knowledge {
  text-align: center;
  position: relative;
  float: left;
  font-family: fantasy;
  font-size: 24pt;
  overflow: hidden;
}

/* Div height and width */

.StatsContainer {
  height: 100%; width: 100%;
  position: absolute;
}

.Portrait {
  height: 035%; width: 100%;
  position: relative;
}

.Stats {
  height: 065%; width: 100%;
  position: relative;
}

.Knowledge, .Might, .Sanity, .Speed {
  height: 100%; width: 025%;
}
/* Div background colors */

body, .Speed, .Sanity {
  background-color: #333333;
}

.Might, .Knowledge {
  background-color: #444444;
}

.Portrait {
  background-color: #0c1125;
}
